<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="with=device-width,initial-scale=1">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">#}
{#    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'jQuery-3.4.1.js' %}"></script>#}
    <title>errors</title>
    <style type='text/css'>
        body {
            margin: 8% auto 0;
            max-width: 550px;
            min-height: 200px;
            padding: 10px;
            font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            font-size: 14px;
        }

        p {
            color: #555;
            margin: 10px 10px;
        }

        img {
            border: 0px;
        }

        .d {
            color: #404040;
        }
    </style>
</head>
<body>
    <a href='/home/' style="font-size: 50px;"><img src='/static\image\timg.jpg' style="width: 80px;height: 80px;" alt='cnblogs' />个人博客</a>
    <p><b>404.</b> 抱歉，您访问的资源不存在。</p>
    <p class='d'>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至 contact&#64;python666.com 与我们联系。</p>
    <p><a href='/home/'>返回网站首页</a></p>
</body>
</html>